Name: Titus Joaquin G. Ayo

Student Number: 2020130107

Course/Section: DS100-1/B31

M1 Programming Exercise

Description of the Programming Exercise:
    
    The dataset used for this programming exercise covers the Philippines' Dengue Cases from 2016 to 2020.  The dataset was taken from Kaggle and uploaded by the user, Jhon Vincent Gupo, in 2022 (as it was updated two years ago).  The dataset included all dengue cases covered in all regions in the Philippines; hence, for this programming exercise, the data was limited to only showing the dengue statistics in NCR.  

    In further organising the dataset, the student sorted the NCR dengue statistics per year; hence, the five tables with captions indicated the data in the respective tables.  The operations made to the dataset included the computation for each year's survival and death rate for dengue per month.  In addition, the averages for these two rates were taken and displayed in the table.

    In analysing each table, 2017 to 2019 saw a stable behaviour for the survival and death rate for Dengue with the survival rate being at around 99.4% to 99.5%.  However, 2016 and 2020 saw a slump in survival rate as their survival rates were 78.03% and 76.59%, respectively.  The slump in survival rate was attributed to the rise in cases and deaths around the fourth quarter of each year (September to December).  It is to be noted that the fourth quarters of 2017 to 2019 did not show any spikes in Dengue cases and deaths, this can be interpretted that the handle in Dengue cases was better during this period as compared to 2016 and 2020.  2020 was a particular year as brought on by the COVID-19 pandemic where lockdowns were in place which could explain the 100% survival rate from April 2020 to July 2020, but it could also be due to other factors which can include cases not being recorded and the like.

In [1]:
import requests as rq
from io import BytesIO
import numpy as np
import pandas as pd

In [2]:
dataset = "https://raw.githubusercontent.com/hondacodes/M1-Programming-Exercise/main/ph_dengue_cases2016-2020.csv"
dsg = rq.get(dataset).content
dsr = pd.read_csv(BytesIO(dsg))
pd.set_option('display.max_row',None)
dsr.head()

      Month  Year    Region  Dengue_Cases  Dengue_Deaths
0   January  2016  Region I           705              1
1  February  2016  Region I           374              0
2     March  2016  Region I           276              0
3     April  2016  Region I           240              2
4       May  2016  Region I           243              1

In [3]:
#Sorting NCR data per year (2016), computing survival and death rate, computing average survival and death rate, and cleaning table
NCR2016 = dsr.loc[dsr['Region'].str.contains('NCR')]
NCR2016 = NCR2016.loc[NCR2016.Year == 2016,"Month":"Dengue_Deaths"]
NCR2016['Dengue Survival Rate'] = np.round((NCR2016['Dengue_Cases']-NCR2016['Dengue_Deaths'])/NCR2016['Dengue_Cases']*100,2)
NCR2016['Dengue Death Rate'] = np.round((NCR2016['Dengue_Deaths'])/NCR2016['Dengue_Cases']*100,2)
NCR2016 = NCR2016.reset_index()
NCR2016 = NCR2016.drop(columns=['index','Region','Dengue_Cases','Dengue_Deaths'])
print('\033[1mNCR Dengue Statistics for 2016\033[0m')
print('')
print('\033[1mAverage Survival Rate: \033[0m',np.round(NCR2016['Dengue Survival Rate'].mean(),2),'%')
print('\033[1mAverage Death Rate: \033[0m',np.round(NCR2016['Dengue Death Rate'].mean(),2),'%')
NCR2016

NCR Dengue Statistics for 2016

Average Survival Rate:  78.03 %
Average Death Rate:  21.97 %

        Month  Year  Dengue Survival Rate  Dengue Death Rate
0     January  2016                 99.68               0.32
1    February  2016                 99.30               0.70
2       March  2016                 99.59               0.41
3       April  2016                 99.55               0.45
4         May  2016                100.00               0.00
5        June  2016                100.00               0.00
6        July  2016                 99.65               0.35
7      August  2016                 99.74               0.26
8   September  2016                  0.00             100.00
9     October  2016                -59.83             159.83
10   November  2016                 99.46               0.54
11   December  2016                 99.18               0.82

In [4]:
#Sorting NCR data per year (2017), computing survival and death rate, computing average survival and death rate, and cleaning table
NCR2017 = dsr.loc[dsr['Region'].str.contains('NCR')]
NCR2017 = NCR2017.loc[NCR2017.Year == 2017,"Month":"Dengue_Deaths"]
NCR2017['Dengue Survival Rate'] = np.round((NCR2017['Dengue_Cases']-NCR2017['Dengue_Deaths'])/NCR2017['Dengue_Cases']*100,2)
NCR2017['Dengue Death Rate'] = np.round((NCR2017['Dengue_Deaths'])/NCR2017['Dengue_Cases']*100,2)
NCR2017 = NCR2017.reset_index()
NCR2017 = NCR2017.drop(columns=['index','Region','Dengue_Cases','Dengue_Deaths'])
print('\033[1mNCR Dengue Statistics for 2017\033[0m')
print('')
print('\033[1mAverage Survival Rate: \033[0m',np.round(NCR2017['Dengue Survival Rate'].mean(),2),'%')
print('\033[1mAverage Death Rate: \033[0m',np.round(NCR2017['Dengue Death Rate'].mean(),2),'%')
NCR2017

NCR Dengue Statistics for 2017

Average Survival Rate:  99.37 %
Average Death Rate:  0.63 %

        Month  Year  Dengue Survival Rate  Dengue Death Rate
0     January  2017                 99.58               0.42
1    February  2017                 99.66               0.34
2       March  2017                 99.57               0.43
3       April  2017                 99.22               0.78
4         May  2017                 99.26               0.74
5        June  2017                 99.12               0.88
6        July  2017                 99.36               0.64
7      August  2017                 99.34               0.66
8   September  2017                 99.15               0.85
9     October  2017                 99.37               0.63
10   November  2017                 99.50               0.50
11   December  2017                 99.29               0.71

In [5]:
#Sorting NCR data per year (2018), computing survival and death rate, computing average survival and death rate, and cleaning table
NCR2018 = dsr.loc[dsr['Region'].str.contains('NCR')]
NCR2018 = NCR2018.loc[NCR2018.Year == 2018,"Month":"Dengue_Deaths"]
NCR2018['Dengue Survival Rate'] = np.round((NCR2018['Dengue_Cases']-NCR2018['Dengue_Deaths'])/NCR2018['Dengue_Cases']*100,2)
NCR2018['Dengue Death Rate'] = np.round((NCR2018['Dengue_Deaths'])/NCR2018['Dengue_Cases']*100,2)
NCR2018 = NCR2018.reset_index()
NCR2018 = NCR2018.drop(columns=['index','Region','Dengue_Cases','Dengue_Deaths'])
print('\033[1mNCR Dengue Statistics for 2018\033[0m')
print('')
print('\033[1mAverage Survival Rate: \033[0m',np.round(NCR2018['Dengue Survival Rate'].mean(),2),'%')
print('\033[1mAverage Death Rate: \033[0m',np.round(NCR2018['Dengue Death Rate'].mean(),2),'%')
NCR2018

NCR Dengue Statistics for 2018

Average Survival Rate:  99.43 %
Average Death Rate:  0.57 %

        Month  Year  Dengue Survival Rate  Dengue Death Rate
0     January  2018                 99.41               0.59
1    February  2018                 99.80               0.20
2       March  2018                 99.57               0.43
3       April  2018                 99.33               0.67
4         May  2018                 99.67               0.33
5        June  2018                 99.28               0.72
6        July  2018                 99.12               0.88
7      August  2018                 99.58               0.42
8   September  2018                 99.14               0.86
9     October  2018                 99.28               0.72
10   November  2018                 99.40               0.60
11   December  2018                 99.58               0.42

In [6]:
#Sorting NCR data per year (2019), computing survival and death rate, computing average survival and death rate, and cleaning table
NCR2019 = dsr.loc[dsr['Region'].str.contains('NCR')]
NCR2019 = NCR2019.loc[NCR2019.Year == 2019,"Month":"Dengue_Deaths"]
NCR2019['Dengue Survival Rate'] = np.round((NCR2019['Dengue_Cases']-NCR2019['Dengue_Deaths'])/NCR2019['Dengue_Cases']*100,2)
NCR2019['Dengue Death Rate'] = np.round((NCR2019['Dengue_Deaths'])/NCR2019['Dengue_Cases']*100,2)
NCR2019 = NCR2019.reset_index()
NCR2019 = NCR2019.drop(columns=['index','Region','Dengue_Cases','Dengue_Deaths'])
print('\033[1mNCR Dengue Statistics for 2019\033[0m')
print('')
print('\033[1mAverage Survival Rate: \033[0m',np.round(NCR2019['Dengue Survival Rate'].mean(),2),'%')
print('\033[1mAverage Death Rate: \033[0m',np.round(NCR2019['Dengue Death Rate'].mean(),2),'%')
NCR2019

NCR Dengue Statistics for 2019

Average Survival Rate:  99.52 %
Average Death Rate:  0.48 %

        Month  Year  Dengue Survival Rate  Dengue Death Rate
0     January  2019                 99.57               0.43
1    February  2019                 99.62               0.38
2       March  2019                 99.71               0.29
3       April  2019                 99.25               0.75
4         May  2019                 99.32               0.68
5        June  2019                 99.76               0.24
6        July  2019                 99.24               0.76
7      August  2019                 99.34               0.66
8   September  2019                 99.47               0.53
9     October  2019                 99.63               0.37
10   November  2019                 99.76               0.24
11   December  2019                 99.54               0.46

In [7]:
#Sorting NCR data per year (2020), computing survival and death rate, computing average survival and death rate, and cleaning table
NCR2020 = dsr.loc[dsr['Region'].str.contains('NCR')]
NCR2020 = NCR2020.loc[NCR2020.Year == 2020,"Month":"Dengue_Deaths"]
NCR2020['Dengue Survival Rate'] = np.round((NCR2020['Dengue_Cases']-NCR2020['Dengue_Deaths'])/NCR2020['Dengue_Cases']*100,2)
NCR2020['Dengue Death Rate'] = np.round((NCR2020['Dengue_Deaths'])/NCR2020['Dengue_Cases']*100,2)
NCR2020 = NCR2020.reset_index()
NCR2020 = NCR2020.drop(columns=['index','Region','Dengue_Cases','Dengue_Deaths'])
print('\033[1mNCR Dengue Statistics for 2020\033[0m')
print('')
print('\033[1mAverage Survival Rate: \033[0m',np.round(NCR2020['Dengue Survival Rate'].mean(),2),'%')
print('\033[1mAverage Death Rate: \033[0m',np.round(NCR2020['Dengue Death Rate'].mean(),2),'%')
NCR2020

NCR Dengue Statistics for 2020

Average Survival Rate:  76.59 %
Average Death Rate:  23.41 %

        Month  Year  Dengue Survival Rate  Dengue Death Rate
0     January  2020                 99.57               0.43
1    February  2020                 99.65               0.35
2       March  2020                 99.71               0.29
3       April  2020                100.00               0.00
4         May  2020                100.00               0.00
5        June  2020                100.00               0.00
6        July  2020                100.00               0.00
7      August  2020                 99.37               0.63
8   September  2020                 -2.29             102.29
9     October  2020                -43.41             143.41
10   November  2020                 67.14              32.86
11   December  2020                 99.39               0.61